<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DatabaseContainer" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="DBEntities" connectionString="metadata=res://*/DatabaseModel.csdl|res://*/DatabaseModel.ssdl|res://*/DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"
               maxRequestLength="2147483647"
                 />
  </system.web>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
          <binding name="LargeSettings"
                   maxBufferSize="6553600"
                   maxBufferPoolSize="524288"
                   maxReceivedMessageSize="6553600">
            <readerQuotas maxDepth="32" maxStringContentLength="100000"
                          maxArrayLength="6553600" maxBytesPerRead="4096"
                          maxNameTableCharCount="16384" />
            <security mode="None" />
          </binding>
        </basicHttpBinding>
      </bindings>
    <services>
      <service behaviorConfiguration="ServiceWithMetadata" name="WCFServices.DocumentsService">
        <endpoint address="http://localhost:47521/DocumentsService.svc"
          binding="basicHttpBinding" bindingConfiguration="LargeSettings"
          name="Default" contract="WCFServices.IDocumentsService" />
      </service>
      <service behaviorConfiguration="ServiceWithMetadata" name="WCFServices.CandidatesService" />


      <service behaviorConfiguration="ServiceWithMetadata" name="WCFServices.PersonsService">
        <endpoint address="http://localhost:47521/PersonsService.svc"
          binding="basicHttpBinding" bindingConfiguration="LargeSettings"
          name="Default2" contract="WCFServices.IPersonsService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceWithMetadata">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceTimeouts transactionTimeout="04:00:00" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    
  
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>