@model WebApp.DocumentWebServiceReference.Document

@{
    ViewBag.Title = "Stages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Stages</h2>


<div>
    <span class="label-danger"> @Html.ActionLink("Back to List", "Index")</span>

</div>

