<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPersonsService" />
        <binding name="BasicHttpBinding_ICandidatesService" />
        <binding name="BasicHttpBinding_IDictionaryService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:47521/PersonsService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPersonsService"
        contract="PersonsServiceReference.IPersonsService" name="BasicHttpBinding_IPersonsService" />
      <endpoint address="http://localhost:47521/CandidatesService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICandidatesService"
        contract="CandidatesServiceReference.ICandidatesService" name="BasicHttpBinding_ICandidatesService" />
      <endpoint address="http://localhost:47521/DictionaryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDictionaryService"
        contract="DictionaryServiceReference.IDictionaryService" name="BasicHttpBinding_IDictionaryService" />
    </client>
  </system.serviceModel>
</configuration>